.dabody .danavdiv .nav.nav-pills .nav-link.active {
    background: #2977A3 !important;
    color: #ffffff !important;
}

.dabody .danavdiv .nav.nav-pills .nav-link {
    margin: 0 0 10px;
    background: #f3f3f3;
    cursor: pointer;
    line-height: 2.2 !important;
}

.dabody .form-actions .btn-da.btn-primary {
      background-color: #2977A3 !important;
    border-color: #2977A3 !important;
  width: 100%;
}

.dabody section#daquestion {
  background: #ffffff  !important;
    padding-top: 5px  !important;
    padding-bottom: 15px  !important;
    border-radius: 5px  !important;
}

div.danavdiv {
    max-width: 25% !important;
}

.div.danav {
    width: max-content !important; 
}

.col-form-label {
    color: #7c7c7c !important
}
